#login {
    align-items: center;
}

main {
    background-color:  rgb(91, 91, 91);
    color: rgb(223, 223, 223);
}

:root {
    --shortLenght: 2vw;
    --longLenght: 40vw;
} /*custom variables to stay consistent*/

.goal {
    border: 2px solid black;
    margin: 2vw;
    border-radius: 10px;
    flex-wrap: wrap;
    font-size: 2vw;
    text-align: center;
}

#top {
    width: var(--longLenght);
    height: var(--shortLenght);
    background-color: orange;
}

#left {
    width: var(--shortLenght);
    height: var(--longLenght);
    background-color: blue;
    
}

#right {
    width: var(--shortLenght);
    height: var(--longLenght);
    background-color: green;
}

#bottom {
    width: var(--longLenght);
    height: var(--shortLenght);
    background-color: magenta;
}

#command {
    padding: 20vw;
    font-size: 3vw;
    /* background-color: yellow; */
}

#inline {
    display: flex;
    justify-content: center;
    align-items: center;;
}

@media (min-width: 800px) {
    #command {
        padding: 10vw;
        font-size: 2vw;
    }
    :root {
        --shortLenght: 1vw;
        --longLenght: 20vw;
    }
}